/* -----------Large-Desktop  */
@media (max-width: 2280px) {
  body {
    background-color: red;
    color: white;
  }

  .titleContainer {
    border: solid black;
    border-radius: 10%;
    height: 10vh;
    margin: 1em;
    font-size: 50px;
    text-align: center;
  }
  .titleContainer::after {
    content: "Performance Car: Tesla Roadster";
  }

  .picContainer {
    border: solid black;
    border-radius: 10%;
    height: 40vh;
    background-image:url('Images/Tesla_Roadster.jpg');
      background-position: center;
      background-repeat: no-repeat;
  }
    }
  
  .sectionContainer {
    border: solid black;
    border-radius: 10%;
    height: 60vh;
    margin: 1em;
    font-size: 50px;
    text-align: center;
    color: white;
    background-image:url('Images/RoadsterSpecs.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
  .sectionContainer::after {
      content: "Features and Specs:";
      

  }

  .logo {
    border: solid black;
    border-radius: 10%;
    height: 20vh;
    margin: 2em;
  }

  #Performance {
    width: 33%;
    display: none;
  }

  #Luxury {
    width: 250px;
    display: block;
  }

  #Flintstone {
    width: 33%;
    display: none;
  }
/* -----------Large-Desktop  */





/* ---------------Mid-Tablet  */
@media (max-width: 1480px) {
  body {
    background-color: black;
  }

  .titleContainer {
    border: solid blue;
    border-radius: 10%;
    height: 10vh;
    margin: 1em;
    font-size: 50px;
    text-align: center;
    color: white;
  }
  .titleContainer::after {
    content: "Luxury Car: Rolls Royce Wraith";

  }

  .picContainer {
    border: solid  blue;
    height: 40vh;
    background-image: url('Images/Rolls_Royce_Wraith.jpg');
      background-position: center;
      background-repeat: no-repeat;
  }

  .sectionContainer {
    border: solid blue;
    border-radius: 10%;
    height: 60vh;
    margin: 1em;
    font-size: 50px;
    text-align: center;
    color: white;
  background-image:url('Images/Rollsspec.jpg');
    background-position: center;
    background-repeat: no-repeat;
  .sectionContainer::after {
      content: "Features and Specs:";
  }
     
  }

  .logo {
    border: solid blue;
    height: 20vh;
    margin: 2em;
  }

  #Performance {
    width: 33%;
    display: none;
  }

  #Luxury {
    width: 250px;
    display: block;
  }

  #Flintstone {
    width: 33%;
    display: none;
  }
}
/* ---------------Mid-Tablet  */






/* -------------Small-Mobile  */
@media (max-width: 880px) {
  body {
    background-color: green;
  }

  .titleContainer {
    border: solid yellow;
    height: 10vh;
    margin: 1em;
    font-size: 50px;
    text-align: center;
    color: white;
  }

  .titleContainer::after {
    content: "Archaic Car: Flintsmobile #1 Stunna";

  }
  .picContainer {
    border: solid yellow;
    height: 40vh;
    background-image: url('images/Flintstonemobile.jpg');
      background-position: center;
      background-repeat: no-repeat;
  }

  .sectionContainer {
    border: solid yellow;
    border-radius: 10%;
    height: 60vh;
    margin: 1em;
    text-align: center;
    color: white;
    background-image:url('Images/flintstonespecs.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
  .sectionContainer::after {
      content: "Features and Specs:";

  }

  .logo {
    border: solid yellow;
    height: 20vh;
    margin: 2em;
  }

  #Performance {
    width: 33%;
    display: none;
  }

  #Luxury {
    width: 250px;
    display: none;
  }

  #Flintstone {
    width: 33%;
    display: block;
  }
}
/* -------------Small-Mobile  */


/* -------GeneralCSS */
/* 
.icon {
  height: 120px;
  width: 120px;
}


.titleContainer {
  border: solid yellow;
  height: 40vh;
  margin: 1em;
  font-size: 50px;
  text-align: center;
  color: white;

}
.sectionContainer {
  border: solid black;
  border-radius: 10%;
  height: 40vh;
  margin: 1em;
}

.picContainer {background-repeat: no-repeat; background-size:contain;
  width: 500px;
  height:300px;
  border: 5px solid red; */








/* ---------------- */